<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
      <p>Esse é meu primeiro site</p>
      <p>Tamires eu te amo <3</p>
      <p>Ainda estou aprendendo a montar o site, da trabalho, mas é legal.</p>
    <table>
        <caption>Produtos da padaria</caption>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <<th>Preço</th>
            <th>Total</th>
            <th>&nbsp</th>
        </tr>
        <tr>
            <td>Pão Francês</td>
            <td>10</td>
            <td>5,50</td>
            <td>55,00</td>
            <td>teste</td>
        </tr>
    </table>

</body>
</html>